<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
  <body>
     
    <main role="main" class="container">
      <div class="mt-1 pb-3">
        <h1>42 Coffee Cups Test Assignment</h1>
      </div>
      
      <div class="row">
        <div class="col-sm-6 left-pane">
            <div class="field"><span>First Name:</span> {{ profile.first_name }}</div>
            <div class="field"><span>Last name:</span> {{ profile.last_name }} </div>
            <div class="field"><span>Date of birth:</span> {{ profile.dob|date:'Y-m-d' }} </div>

            <div class="field"><span>Bio:</span> <div class="textarea"> {{ profile.bio|escape|linebreaks }} </div></div>


        </div>
        <div class="col-sm-6 right-pane">
          <div class="field bold"><span>Contacts</span> </div>
          <div class="field"><span>Email:</span> {{ profile.email }} </div>
          <div class="field"><span>Jabber:</span> {{ profile.jabber }} </div>
          <div class="field"><span>Skype:</span>  {{ profile.skype }} </div>

          <div id="textarea-wrapper">
          <div class="field"><span>Other profiles:</span> <div class="textarea"> {{ profile.other_contacts|escape|linebreaks }} </div></div>
          
        </div>
      </div>
    
    </main>


  </body>
</html>
